<!DOCTYPE html>
<html>
  <head>
    <title>Yocal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="text/javascript">
      window.yelpLogo = "<%= image_url('yelp_logo.png') %>";
      window.googleIcon = "<%= image_url('google_icon.png') %>";
      window.signupPhoto = "<%= image_url('signup_photo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
